# Dependencies
/node_modules

# Vercel
.vercel/

# Build files
/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local
*.env

# Astro
.astro/
node_modules
node_modules
.vercel
