---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import FloatingButton from '../components/FloatingButton.astro';
import TopBar from '../components/TopBar.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Achievements from '../components/Achievements.astro';
import InfoSection from '../components/InfoSection.astro';
import ContactUs from '../components/ContactUs.astro';
---

<Layout title="شركة الإيمان للتطوير العقاري">
  <TopBar />
  <Header showMenu={true} />
  <Hero 
    title="أهلاً بكم في شركة الإيمان للاستثمار والتطوير العقاري"
    subtitle="هندسة الاستثمار، وفن التطوير في قلب صعيد مصر."
  />
  <main>
    <Services />
    <Achievements />
    <InfoSection />
    <ContactUs />
  </main>
  <Footer />
  <FloatingButton />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
</style>

